#firmwareUploadButton {
    display: none;
}

.btn {
  width:100%;
}

.row.testing-container {
  margin: 0 -10px 0 0px;
}

.btn.testing {
  width:32%;
}

#prog_test-label {
  width:100%;
}
.section-label {
  font-weight:bold;
  width:100%;
}

label#prog_test-label, label#mod-sel-label {
  margin-left: 14px;
}

.row.middle-row {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  padding: 20px 0;
  margin: 20px 0;
}

.middle-row-col {
  padding-left:0; 
}

#UIDStatus i, #programStatus i, #testStatus i, #provisionStatus i {
  margin-top: 10px;
}


.rotate {
    animation: rotation 0.5s infinite linear;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

#testUploadButton {
    display: none;
}

img.grayable {
    width: 100px;
}

img.grayed {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); 
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%);
    filter: gray;
    -webkit-filter: grayscale(1);
}

.fa-check-circle {
    color: #00b100;
}

.fa-times-circle {
  color: #FF0000;
}
.navbar {
  height: 82PX;
  background: #007FD6 !important;
  margin-bottom:50px;
}
#logo img {
  width:180px;
  margin: 0 20px 11px 20px;
}
p.nav-link.timedate {
  margin-top: 18px;
}
label#firmwareDateLabel {
  margin-top: 6px;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
.navbar-dark .navbar-nav .nav-link:hover {
  text-decoration: underline;
}
img#modulePicture {
  position: relative;
  top: -9px;
}

