{% extends 'layout.html' %}

{% block body %}
<div id="alert_placeholder"></div>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center">Developer Mode</h1>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-sm-4">
                <b>Select module:</b>
                <button class="btn btn-primary dropdown-toggle" type="button" id="moduleSelectButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Module
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" data-name="Wright" href="#">Wright</a>
                    <a class="dropdown-item" data-name="Earhart" href="#">Earhart</a>
                    <a class="dropdown-item" data-name="None" href="#">None</a>
                </div>
            </div>
            <div class="col-sm-2">
                <img src="../static/images/Wright.png" alt="cool module" class="grayable" id="modulePicture">
            </div>  
            <div class="col-sm-6">
                
            </div>     
        </div>
        <p></p>
        <div class="row">
            <div class="col-sm-4">
                <form method=post enctype=multipart/form-data id="firmwareUploadForm">
                    <b>Select firmware:</b>
                    <input type="file" id="firmwareUploadButton" accept=".bin" name=file onchange=handleFirmwareUpload(this.files)>
                    <label class="btn btn-secondary dropdown-toggle" for="firmwareUploadButton" id="firmwareUploadLabel">Firmware</label>
                </form>
            </div>  
            <div class="col-sm-2">
                <button class="btn btn-secondary" type="button" id="programButton" disabled onclick=handleProgram()>
                    Program
                </button>
            </div>  
            <div class="col-sm-6">
                <label id="firmwareDateLabel">Modified: </label>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-sm-4">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="uniqueID" rows="1" placeholder="STM32 Unique ID"></input>
                    <div class="input-group-append">
                        <button class="btn btn-secondary", type="button" onclick="copyToClipboard('#uniqueID')"><i class="far fa-copy"></i></button>
                    </div>
                </div>
            </div>  
            <div class="col-sm-2">
                <button class="btn btn-secondary" type="button" id="uniqueIDButton" onclick="handleUniqueID()">
                    Get UID
                </button>
            </div>  
            <div class="col-sm-6">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-sm-4">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="provisionURL" rows="1" placeholder="Provision URL"></input>
                    <div class="input-group-append">
                        <button id="provisionCopyButton" class="btn btn-secondary", type="button" onclick="copyToClipboard('#provisionURL')"><i class="far fa-copy"></i></button>
                    </div>
                </div>
            </div>  
            <div class="col-sm-2">
                <button class="btn btn-secondary" type="button" id="provisionButton" onclick="handleProvision()">
                    Provision
                </button>
            </div>  
            <div class="col-sm-6">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <button class="btn btn-primary" type="button" id="testButton" disabled onclick=handleTest()>
                        Run Test
                    </button>
                    &nbsp;
                    <button class="btn btn-danger" id="testAfterProgram" onclick=toggleTestAfterProgram() value=false>
                        Test after Program
                    </button>
                    &nbsp;
                    <button class="btn btn-danger" id="provisionAfterTest" onclick=toggleProvisionAfterTest() value=false>
                        Provision after Test
                    </button>
                    </div>
                </div>      
            </div>  
            <div class="col-sm-2">
            </div>  
            <div class="col-sm-4">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <pre class="pre-scrollable"> 
<div id="terminal"> 
</div>
            </pre> 
        </div>
    </div>
</div>

<script>
    String.prototype.capitalize = function() {
        return this.charAt(0).toUpperCase() + this.slice(1);
    }

    var socket = io();

    var device_namespace = io('/DeviceNamespace')
    var webapp_namespace = io('/WebAppNamespace')

    var pgm_start_time;
    var fw_filename = null;
    var module = null;
    var testAfterProgram = false;
    var provisionAfterTest = false;
    var uniqueID = null;
    var connected = false;


    function handleProgram() {
        device_namespace.emit('program_bin', $('#firmwareUploadLabel').text())

        $('#programButton').prop('disabled', true);

        $('#modulePicture').addClass("rotate")
        $('#terminal').html("*** Programming " + fw_filename + " started at: " + $('#time').html() + " ***\n" + $('#terminal').html())

        pgm_start_time = new Date().getTime()
    }
    
    webapp_namespace.on('program_bin_progress', (data) => {
        var msg = null

        if(data.error != '')
        {
            msg = data.error + ': ' + data.message 
        }
        else 
        {
            msg = data.message
        }

        if(msg != '')
        {
            msg = '    ' + msg.capitalize()
        }

        $('#terminal').html(msg + "\r\n" + $('#terminal').html())

        if(msg.includes('Target CPU running'))
        {
            var pgm_end_time = new Date().getTime();

            $('#terminal').html("*** Programming success <i class='fas fa-check-circle'></i> Took: " + (pgm_end_time - pgm_start_time) + "ms ***\n" + $('#terminal').html())
            $('#modulePicture').removeClass("rotate")

            $('#programButton').prop('disabled', false)

            if(testAfterProgram) {
                handleTest()
            }
        }   
        
        if(!data.success && !data.error.includes("MutexLockedError"))
        {
            var pgm_end_time = new Date().getTime();

            $('#terminal').html("*** Programming failed <i class='fas fa-times-circle'></i> Took: " + (pgm_end_time - pgm_start_time) + "ms ***\n" + $('#terminal').html())
            
            $('#modulePicture').removeClass("rotate")

            $('#programButton').prop('disabled', false)
        }
    })


    function handleUniqueID(){
        device_namespace.emit('get_unique_id')
    }

    webapp_namespace.on('get_unique_id_progress', (data) => {
        if(data.success) 
        {
            $('#uniqueID').val(data.message)
            uniqueID = data.message

            $('#uniqueIDButton').removeClass("btn btn-danger")
            $('#uniqueIDButton').removeClass("btn btn-secondary").addClass("btn btn-success")

            $('#terminal').html("*** Get UID success <i class='fas fa-check-circle'></i> UID: " + uniqueID + " ***\n" + $('#terminal').html())
        }
        else 
        {
            $('#uniqueID').val('')
            uniqueID = null

            $('#uniqueIDButton').removeClass("btn btn-success")
            $('#uniqueIDButton').removeClass("btn btn-secondary").addClass("btn btn-danger")

            $('#terminal').html("*** Get UID failed  <i class='fas fa-times-circle'></i> " + data.error + ": " + data.message + " ***\n" + $('#terminal').html())
        }
    })


    function handleTest() {
        $('#terminal').html("*** " + module.capitalize() + " hardware test started at: " + $('#time').html() + " ***\n" + $('#terminal').html())

        device_namespace.emit('run_test', module)
    }

    webapp_namespace.on('run_test_progress', (data) => {
        console.log(data)
        
        if(data.message == '')
        {
            return
        }

        if(data.message.toLowerCase() == 'gpio') 
        {
            parseGPIOResults(data.results.results)
        }
        else
        {
            if(data.message.includes('***'))
            {
                $('#terminal').html(data.message + "\r\n" + $('#terminal').html())
            }
            else 
            {
                $('#terminal').html('    ' + data.message + "\r\n" + $('#terminal').html())
            }      
        }      
    })

    function parseGPIOResults(results) {
        results.forEach(result => {
            var assert_icon   = null
            var deassert_icon = null

            if(result.high)
            {
                assert_icon = '<i class="fas fa-check-circle"></i>'
            }
            else 
            {
                assert_icon = '<i class="fas fa-times-circle"></i>'
            }

            if(result.low)
            {
                deassert_icon = '<i class="fas fa-check-circle"></i>'
            }
            else 
            {
                deassert_icon = '<i class="fas fa-times-circle"></i>'
            }

            result_str = '        ' + result.pin.toString().padEnd(2) + ' - Assert: ' + assert_icon + ' Deassert: ' + deassert_icon

            $('#terminal').html(result_str + "\r\n" + $('#terminal').html())
        })
    }









    socket.on('js_module_present', function() {
        connected = true;

        $('#modulePicture').removeClass("grayed");
        $('#uniqueIDButton').prop('disabled', false);

        handleUniqueID();

        $('#terminal').html("*** Module connected at: " + $('#time').html() + " <i class='fas fa-check-circle'></i> ***\n" + $('#terminal').html())

        if(fw_filename != null) {
            $('#programButton').prop('disabled', false);
        }

        if(module != null) {
            $('#testButton').prop('disabled', false);
        }
    });

    socket.on('js_module_not_present', function() {
        connected = false;

        $('#programButton').prop('disabled', true);
        $('#uniqueIDButton').prop('disabled', true);
        $('#testButton').prop('disabled', true);

        $('#terminal').html("*** Module disconnected at: " + $('#time').html() + " <i class='fas fa-times-circle'></i> ***\n" + $('#terminal').html())

        uniqueID = null;
        $('#uniqueID').val('')

        $('#modulePicture').addClass("grayed");
    });





    socket.on('js_fail_init_cpu_test', (data) => {
        $('#testButton').removeClass("btn btn-primary")
        $('#testButton').removeClass("btn btn-success").addClass("btn btn-danger")

        bootstrap_alert.warning("Test failed. Failed to initialise CPU")
    })

    socket.on('js_test_complete', (data) => {
        if(data) {
            //bootstrap_alert.success("Test passed!")

            if(provisionAfterTest == true) {
                handleProvision()
            }
        }
        else {
            //bootstrap_alert.warning("Test failed.")
        }
    })

    socket.on('js_fail_init_cpu_provision', (data) => {
        $('#provisionButton').removeClass("btn btn-secondary")
        $('#provisionButton').removeClass("btn btn-success").addClass("btn btn-danger")

    })

    $(document).ready( () => {
        socket.emit('is_module_present');
    })

    function toggleTestAfterProgram() {
        current_value = $('#testAfterProgram').val()

        if(current_value == 'true') {
            testAfterProgram = false;
            $('#testAfterProgram').val('false')
            $('#testAfterProgram').removeClass("btn btn-success").addClass("btn btn-danger")
        }
        else {
            testAfterProgram = true;
            $('#testAfterProgram').val('true')
            $('#testAfterProgram').removeClass("btn btn-danger").addClass("btn btn-success")
        }
    }

    function toggleProvisionAfterTest() {
        current_value = $('#provisionAfterTest').val()

        if(current_value == 'true') {
            provisionAfterTest = false;
            $('#provisionAfterTest').val('false')
            $('#provisionAfterTest').removeClass("btn btn-success").addClass("btn btn-danger")
        }
        else {
            provisionAfterTest = true;
            $('#provisionAfterTest').val('true')
            $('#provisionAfterTest').removeClass("btn btn-danger").addClass("btn btn-success")
        }
    }

    function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).val()).select();
        document.execCommand("copy");
        $temp.remove();
    }

    $('.dropdown-item').click((event) => {
        var name = event.currentTarget;
        module = name.getAttribute("data-name");

        if(module == "None")
        {
            $('#moduleSelectButton').text("Module");
            $('#moduleSelectButton').removeClass("btn btn-success dropdown-toggle").addClass("btn btn-primary dropdown-toggle");

            $('#testButton').prop('disabled', true);
        }
        else 
        {
            if(connected == true) {
                $('#testButton').prop('disabled', false);
            }    
            
            $('#moduleSelectButton').text(name.getAttribute("data-name"));
            $('#moduleSelectButton').removeClass("btn btn-primary dropdown-toggle").addClass("btn btn-success dropdown-toggle");
    
            $('#modulePicture').attr("src", "../static/images/" + module + ".png")
        }
    });

    function handleFirmwareUpload(file) {
        var form_data = new FormData($('#firmwareUploadForm')[0]);

        var filename = file[0].name;
        fw_filename = filename;
        var extension = filename.split('.')[1].toLowerCase();
        var date = file[0].lastModifiedDate.toString().slice(0, 33);

        $.ajax({
            data: form_data,
            type: "POST",
            url: "/firmware",
            contentType: false, 
            cache: false,
            processData: false,
            beforeSend: function() {
                
            },
            success: function(data) {
                $('#firmwareUploadLabel').removeClass("btn btn-danger");
                $('#firmwareUploadLabel').removeClass("btn btn-secondary").addClass("btn btn-success");
                $('#firmwareUploadLabel').text(filename);
                $('#firmwareDateLabel').text("Modified: " + date);

                $('#programButton').prop('disabled', false);
                $('#programButton').removeClass("btn btn-success")
                $('#programButton').removeClass("btn btn-secondary").addClass("btn btn-primary");

                var upload_date = new Date().toLocaleString();
            },
            error: function(data) {
                $('#firmwareUploadLabel').removeClass("btn btn-secondary").addClass("btn btn-danger");
                $('#firmwareUploadLabel').text("Invalid");
                $('#firmwareDateLabel').text("Modified: ");

                $('#programButton').prop('disabled', true);
                $('#programButton').removeClass("btn btn-success")
                $('#programButton').removeClass("btn btn-primary").addClass("btn btn-secondary");

                var upload_date = new Date().toLocaleString();

                if(data.status == 400) {
                    //bootstrap_alert.warning("Bad filetype or filename: " + filename + " at " + upload_date);
                }
                else if(data.status == 415) {
                    //bootstrap_alert.warning("Error uploading file: " + filename + " at " + upload_date);
                }
                else {
                    //bootstrap_alert.warning("Unknown error at " + upload_date);
                }
            }
        });

        $('#firmwareUploadButton').val("");
    }




    function handleProvision() {
        var candidate_url = $('#provisionURL')[0].value
        
        $('#provisionButton').removeClass("btn btn-danger")
        $('#provisionButton').removeClass("btn btn-secondary").addClass("btn btn-success");

        if(uniqueID != null) {
            socket.emit('start_provision', module, candidate_url, uniqueID)
        }
        else {
            $('#provisionButton').removeClass("btn btn-secondary")
            $('#provisionButton').removeClass("btn btn-success").addClass("btn btn-danger");
        }
    };


    var serverTime = new Date();

    function updateTime() {
        serverTime = new Date(serverTime.getTime() + 1000);
        $('#time').html(serverTime.toGMTString());
    }

    $(function() {
        updateTime();
        setInterval(updateTime, 1000);
    })
</script>
{% endblock %}


